body {
    height: 80%;
    width: 100%;
    font-size: 120%;
    background: white;
    background-size: cover;
}    
.center {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 15px;
  text-align: center;
}

table, th, td {
    border: 1px solid black;
  }